body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f3f3;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 20px;
  background: #131921;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.navbar input {
  flex: 1;
  padding: 8px;
  border-radius: 4px;
  border: none;
}

.nav-links span {
  margin-left: 15px;
  cursor: pointer;
}

/* Banner */
.banner {
  background: #febd69;
  text-align: center;
  padding: 30px;
}

/* Products */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  background: white;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}

.product-card img {
  width: 50%;
}

.product-card button {
  background: #ffa41c;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
}